main{
    position: fixed;
    background-color: gray;
}
.busname{
    background-color: white;
    width: 100%;
    height: 9%;
}
.busdirection{
    background-color: white;
    width: 100%;
    height: 6%;
    top: 1px;
}
.body{
    background-color: rgb(196, 196, 196);
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
}
.rightbar{
    background-color: rgb(196, 196, 196);
    
    width: 100%;
    height: 100%;
    top: 0px;
    float: right;
}
::-webkit-scrollbar{
    display: none;
}
.reload-bus{
    position: fixed;
    bottom: 15px;
    right: 15px;
}