.mybtn1{
    position: relative;
    text-align: center;
    border: none;
    background: "none";
    width: 47px;
    height: 46px;
}
.mybtn:hover{
    border-radius: 10px;
    box-shadow: 3px, 3px, 3px white;
}
.mybtn:hover:one{
    background-color: white;
    
}
img{
    position: relative;
    text-align: center;
    width: 40px;
    height: 40px;
} 