@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR&display=swap');
*{
    font-family: 'Noto Sans KR', sans-serif;
}
html, body {
    /* max-width: 100%; */
    /* overflow-x: hidden; */
    
}

main{
    width: 100%;
    overflow-y: hidden;
    min-height: 100vh;
}
div{
    position: relative;
    text-align: center;
}
.search{
    position: relative;
    text-align: center;
    top: 15px;
}
.left{
    position: fixed;
    width: 50px;
    bottom: 10px;
    left: 5px;
    text-align: left;
}
.mylocation{
    position: relative;


}
.rightbarbutton{
    position: absolute;
    width: 55px;
    top: 40%;
    right: 1px;
    text-align: right;
}
.zoom{
    position: relative;
    top: 35%;
}
button{
    position: relative;
    text-align: center;
    width: 45px;
    height: 40px;
}
img{
    position: relative;
    text-align: center;
    width: 45px;
    height: 40px;
}
.navbutton{
    box-shadow: 1px 1px 9px 1px #A6A6A6;
}
.navbutton:active{
    box-shadow: 0px 0px 1px 1px gray;
}
.targetbutton{
    box-shadow: 1px 1px 7px 1px gray;
}
.targetbutton:active{
    box-shadow: 0px 0px 1px 1px gray;
}
.plusbutton{
    box-shadow: 1px 1px 9px #A6A6A6;
}
.plusbutton:active{
    box-shadow: inset 0px 0px 9px 1px gray;
}
.minusbutton{
    box-shadow: 1px 1px 9px #A6A6A6;
}
.minusbutton:active{
    box-shadow: inset 0px 0px 9px 1px gray;
}