.searchjs{
    position: fixed;
    width: 100%;
    height: 100%;
}
.searchbar{
    position: fixed;
    background-color:white;
    width: 100%;
    height: 80px;
    
}
.button{
    top: 23%;
    width: 5%;
    height: 50px;
    float: left;
}
.searchtest{
    top: 27%;
    width: 87%;
    height: 50px;
    float: left;
}
.mapbutton{
    top: 22%;
    width:8%;
    right: 15px;
    float:right;
}
input{
    position: relative;
    font-size: 15px;
    border: 0;
    border-radius: 25px;
    outline: black;
    padding-left: 10px;
}
.buildingList{
    position: relative;
    background-color: rgb(188, 188, 188);
    top: 78px;
    margin: 1px; /*리스트 양옆 살짝 검은끼*/
}
.searchlist{
    height: 93%;
    overflow-y: auto;
    overflow-x: hidden;
}
