.sidebarmain {
    background-color: #6e7477;
    /* width: 100%;
    height: 100%; */
  }
  .innersidbar {
    background-color: #ffffff;
    box-shadow: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.4s ease;
    color: #202020;
    height: 100%;
    z-index: 10;
  }
  .sidebarbutton {
    position: absolute;
    top: 70%;
    width: 40px;
    height: 100px;
    z-index: 10;
    transition: 0.8s ease;
    border: none;
    box-shadow: 1px 0px 5px 1px gray;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    overflow: hidden;
  }
  .openBtn {
    width: 100%;
    height: 100%;
  }
  .sidebarcontent {
    padding: 10px 10px 10px 10px;
    position: relative;
    width: 100%;
  }
  .icon {
    margin: 0;
    color: #202020;
  }
  .innersidbare{
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transition: 0.4s ease;
    color: #202020;
    height: 100%;
    z-index: 10;
  }
  .sidebarbuttone {
    position: relative;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: -1px 1px 7px 1px gray;
    left: 175px;
    top: 0px;
    width: 40px;
    height: 100px;
    z-index: 10;
    transition: 0.8s ease;
    border-radius: 5px 0px 0px 5px;
    overflow: hidden;
  }

  .circle{
    display: inline-block; /* 영역적용가능해짐 */
    width: 20px; height: 20px;
    border: 2px solid #333;
    box-sizing: border-box;
    border-radius: 10px; /* 모서리둥글게 처리 */
    position: relative; top: 4px;
    cursor: pointer; /* 마우스 올렸을때 손모양 처리 */
  }
  .circle:after{
    content: '\2714'; /* 체크박스 특수문자 */
    font-size: 24px; color: #333;
    position: absolute; top: -14px; left: 0;
  
    opacity: 0; /* 처음엔 안보이게 처리 */
    transition: 0.2s; /* CSS변화에 시간차 처리 */
  }
  
  /* input이 체크되면 특수문자 보이게 처리 */
  #chk:checked + .circle:after{ opacity: 1; }
  
  /* 체크박스는 display:none;을 주면 데이터 처리가 안됨 */
  #chk{ position: absolute; left: -999em; }

  .img{
    z-index: 20;
  }

  /*2번째꺼*/

  .circle1{
    display: inline-block; /* 영역적용가능해짐 */
    width: 20px; height: 20px;
    border: 2px solid #333;
    box-sizing: border-box;
    border-radius: 10px; /* 모서리둥글게 처리 */
    position: relative; top: 4px;
    cursor: pointer; /* 마우스 올렸을때 손모양 처리 */
  }
  .circle1:after{
    content: '\2714'; /* 체크박스 특수문자 */
    font-size: 24px; color: #333;
    position: absolute; top: -14px; left: 0;
  
    opacity: 0; /* 처음엔 안보이게 처리 */
    transition: 0.2s; /* CSS변화에 시간차 처리 */
  }
  
   /* input이 체크되면 특수문자 보이게 처리 */
   #chk1:checked + .circle1:after{ opacity: 1; }
  
   /* 체크박스는 display:none;을 주면 데이터 처리가 안됨 */
   #chk1{ position: absolute; left: -999em; }
 
   .img{
     z-index: 20;
   }